@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
  --primary-white:#fff;
  --primary-orange:#eb8472;
  --primary-dark:rgba(255,255,255,0);
  --mainDark:#343a40;
  --maingrey:rgba(109,109,109);
  --mainlightgrey:rgba(172,172,172);
  --mainwhite:#fff;
  --mainblue:#007bff;
}
body{
  font-family: "Roboto Condensed" ,sans-serif;
  
}
/*********************Navbar*********************/
.logo{
  height: 5rem;
  width: 10rem;
  margin-left: 45% !important;
  
  
}


/********Menu links*********/
nav a.nav-link{
font-size:0.8rem;
letter-spacing: 0.0325rem;
cursor: pointer;

}
nav{position: fixed;
  z-index:3;}
nav ul{margin-left:60% !important;}
nav ul li{text-transform: uppercase;}
.navbar-nav > li > a { color:var(--primary-white)!important;
margin-right: 0.75rem;
margin-left: 0.75rem;
border-top: 0.0857rem solid var(--primary-dark); ;}
.navbar-brand{
  max-width: 17.25rem;
  padding:0 !important;
  height:6rem !important;
}
.navbar-nav > li > a.active ,.navbar-nav> li > a.active:focus{
  border-top: 0.0857rem solid var(--primary-orange);
}
.navbar-nav> li > a:hover{
  border-top: 0.0857rem solid var(--primary-orange);
}
/******************************Header*******************************/
/* .header-wrapper{
  position:relative;
  background: url(backgroundimage.jpg) no repeat;
  background-size:cover;
  background-position: center;
  height: 90vh !important;
} */
.main-info {position: relative;
  background:var(--primary-dark);
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  font-family: "Roboto Condensed" ,sans-serif;
  height: 90vh !important;
  background: url(backgroundimage.jpg);
background-size:cover;
  background-position: center;
  z-index:1;
}
.main-info h1{color:rgb(65, 64, 64);
text-transform:uppercase;
height: 40vh !important;

 }
 /************Typed TEXT************/
 .typed-text{
   font-size: 3rem !important;
   color:var(--primary-orange) !important;
   text-transform: uppercase !important;
 }
/***********header main offer button************/
 .btn{z-index:2;
margin-top: 2rem;} 
/******************intro*******************/
.title-about{
  color:rgb(65, 64, 64);
text-transform:uppercase;
height: 5vh !important;
font-family: "Roboto Condensed" ,sans-serif;
margin-left:30%;

}
.description{
  display: flex;
  padding: 4% 10%;
  text-align: left;
}
.description p {
  padding: 5px;
  line-height: 2rem;
}
/***********cards************/
.card{
  width: 23rem;
  height: 30rem;
  color:rgb(92, 91, 91);
  background-color: white!important;
  margin:Opx;
  padding: 2rem 2rem;
  display:flex;
 border: 0.55rem solid darkgray;
 border-radius: 4%;
  align-items: center;
}
.list{
display: flex;
height: 90VH;
justify-content: space-around;
margin :25px 5px;
padding:10px 100px ;


}
.card img{
  height: 10rem;
  width:12rem;
  background-color: transparent;
  border-radius: 14;
  border:0.3rem solid var(--primary-orange);
}
.drop{width: 10rem;}
.list-cont h1{  color:rgb(65, 64, 64);
  text-transform:uppercase;
  height: 5vh !important;
  font-family: "Roboto Condensed" ,sans-serif;
  margin-left:43%;
  
 }
 h3{
font-size: 0.25rem;
 }